@using Services
@using Models
@inject CategoriaService CategoriaService

<select @bind="SelectedId" class="form-select">
    @foreach (var categoria in Categorias)
    {
        <option value="@categoria.IdCategoria">@categoria.Nombre</option>
    }
</select>

@code {
    [Parameter] public List<Categoria> Categorias { get; set; } = new(); // se pasa desde el padre]
    [Parameter] public int? SelectedId { get; set; }
    [Parameter] public EventCallback<int?> SelectedIdChanged { get; set; }
}
