@using Services
@using Models
@inject BancoService BancoService

<select @bind="SelectedIdInternal" class="form-select">
    <option value="" selected hidden></option>
    @foreach (var banco in Bancos)
    {
        <option value="@banco.IdBanco" selected="@(SelectedId == banco.IdBanco)">
            @banco.Nombre
        </option>
    }
</select>

@code {
    [Parameter] public List<Banco> Bancos { get; set; } = new(); // se pasa desde el padre
    [Parameter] public int? SelectedId { get; set; }
    [Parameter] public EventCallback<int?> SelectedIdChanged { get; set; }

    private int? SelectedIdInternal
    {
        get => SelectedId;
        set
        {
            if (SelectedId != value)
            {
                SelectedId = value;
                SelectedIdChanged.InvokeAsync(value);
            }
        }
    }

    protected override void OnInitialized()
    {
        if (SelectedId == null)
        {
            SelectedIdInternal = null; // Fuerza valor nulo inicial
        }
    }
}
