@page "/"

<PageTitle>Home</PageTitle>

<div class="bg-light p-4 rounded shadow-sm mb-4">
    <h1 class="text-center text-dark fw-bold m-0">Sistema de Facturación Casa Rosita</h1>
</div>

<div class="bg-light p-4 rounded shadow-sm mb-4">
    <h2 class="text-center text-dark fw-bold m-0">Páginas de Interés</h2>
</div>

<div class="d-flex justify-content-center gap-4 flex-wrap">

    <div class="card text-center" style="width: 18rem; border: none;">
        <a href="https://www.casajorge.com.ar/" target="_blank" class="text-decoration-none">
            <img src="images/casajorge.png" class="card-img-top" alt="Casa Jorge" style="height: 200px; width: 100%; object-fit: contain;">
            <div class="card-body">
                <p class="card-text text-dark fw-bold">Casa Jorge</p>
            </div>
        </a>
    </div>

    <div class="card text-center" style="width: 18rem; border: none;">
        <a href="https://hijodemiguelabdala.com.ar/" target="_blank" class="text-decoration-none">
            <img src="images/abdala.png" class="card-img-top" alt="Hijo de Miguel Abdala y Asociados" style="height: 200px; width: 100%; object-fit: contain;">
            <div class="card-body">
                <p class="card-text text-dark fw-bold">Hijo de Miguel Abdala y Asociados</p>
            </div>
        </a>
    </div>

    <div class="card text-center" style="width: 18rem; border: none;">
        <a href="https://lallave.shop.2blink.app/" target="_blank" class="text-decoration-none">
            <img src="images/LaLlave.png" class="card-img-top" alt="Hijo de Miguel Abdala y Asociados" style="height: 200px; width: 100%; object-fit: contain;">
            <div class="card-body">
                <p class="card-text text-dark fw-bold">La LLave del Chaco</p>
            </div>
        </a>
    </div>

</div>






