@using Services
@using Data.Entities
@inject ProveedorService ProveedorService

<select @bind="SelectedIdInternal" class="form-select">
    <option value="" selected hidden></option>
    @foreach (var proveedor in Proveedores ?? Enumerable.Empty<Proveedor>())
    {
        <option value="@proveedor.IdProveedor">@proveedor.RazonSocial</option>
    }
</select>

@code {
    [Parameter] public List<Proveedor> Proveedores { get; set; } = new(); // se pasa desde el padre
    [Parameter] public int? SelectedId { get; set; }
    [Parameter] public EventCallback<int?> SelectedIdChanged { get; set; }

    private int? SelectedIdInternal
    {
        get => SelectedId;
        set
        {
            if (SelectedId != value)
            {
                SelectedId = value;
                SelectedIdChanged.InvokeAsync(value);
            }
        }
    }

    protected override void OnInitialized()
    {
        if (SelectedId == null)
        {
            SelectedIdInternal = null; // Fuerza valor nulo inicial
        }
    }
}
