<link href="css/navbar.css" rel="stylesheet" />

<div class="top-row ps-3 navbar navbar-dark navbar-custom-titulo">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Casa Rosita</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable navbar-custom" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="clientes">
                <span class="bi bi-people-fill fs-4 me-3" aria-hidden="true" style="line-height: 1.2;"></span> Clientes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="articulos">
                <span class="bi bi-box-fill fs-4 me-3" aria-hidden="true" style="line-height: 1.2;"></span> Artículos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link d-flex align-items-center" data-bs-toggle="collapse" href="#submenuFacturacion" role="button" aria-expanded="false" aria-controls="submenuFacturacion">
                <span class="bi bi-cart-fill fs-4 me-3" style="line-height: 1.2;"></span> Facturación
                <span class="ms-auto bi bi-chevron-down" style="line-height: 1.6;"></span>
            </a>
            <div class="collapse" id="submenuFacturacion">
                <nav class="nav flex-column ms-4">
                    <NavLink class="nav-link d-flex align-items-center" href="facturas/formFactura">
                        <span class="bi bi-plus-circle" style="line-height: 1.6;"></span> Nueva Factura
                    </NavLink>
                    <NavLink class="nav-link d-flex align-items-center" href="facturacion/listado">
                        <span class="bi bi-list-ul" style="line-height: 1.6;"></span> Listado de Facturas
                    </NavLink>
                </nav>
            </div>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="proveedores">
                <span class="bi bi-truck-front-fill fs-4 me-3" aria-hidden="true" style="line-height: 1.2;"></span> Proveedores
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="reportes">
                <span class="bi bi-file-bar-graph-fill fs-4 me-3" aria-hidden="true" style="line-height: 1.2;"></span> Reportes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="cajas">
                <span class="bi bi-calculator-fill fs-4 me-3" aria-hidden="true" style="line-height: 1.2;"></span> Caja
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="parametros">
                <span class="bi bi-gear-fill fs-4 me-3" aria-hidden="true" style="line-height: 1.2;"></span> Parámetros
            </NavLink>
        </div>

    </nav>
</div>
