@using Services
@using Models
@inject UnidadMedidaService UnidadMedidaService

<select @bind="SelectId" class="form-select">
    @foreach (var unidadMedida in UnidadesMedidas)
    {
        <option value="@unidadMedida.IdUnidadMedida">@unidadMedida.Nombre</option>
    })
</select> 

@code {
    [Parameter] public List<UnidadMedida> UnidadesMedidas { get; set; } = new(); // se pasa desde el padre
    [Parameter] public int? SelectId { get; set; }
    [Parameter] public EventCallback<int?> SelectIdChanged { get; set; }
}